build/
*.o
*.a
img/
*.swp
web-interface/server/node_modules/
web-interface/server/dist/
web-interface/server/.env
web-interface/client/node_modules/
web-interface/client/dist/
web-interface/client/.env
